/* ==========================================================================
  Scrollbar
  ========================================================================== */

html {
  height: 100%;
  overflow-y: scroll;
}

/* ==========================================================================
  Reset
  ========================================================================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}